# Ignore node_modules directory
node_modules

# Ignore build output directory
dist

# Ignore development files
*.ts
*.tsx

# Ignore source maps
*.map

# Ignore editor and IDE files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore package manager lock files
yarn.lock
package-lock.json