# Ignore node_modules directory
node_modules

# Ignore build output directory
dist

# Ignore development files
*.ts
*.map

# Ignore editor-specific files
.vscode
.idea

# Ignore logs and temporary files
logs
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.test
.env.production

# Ignore any other files or directories specific to your project